You must complete all homework assignments (unless otherwise specified) following
these guidelines:
- One slide/page.
- PDF file format only.
- It has to contain your name, student (matriculation) number and IdM in the
down-left corner.
- Font: Arial, Font-size: > 10 Pt.
- Answer all the questions and solve all the tasks requested.
- Be careful with plagiarism. Repeated solutions will not be accepted!